{% extends 'base.html.twig' %}

{% block title %}Modification Informations  Utlisateur{% endblock %}

{% block body %}
    <h3>Modification Informations</h3>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profile_show') }}">Retour au profile</a>
{% endblock %}
