
{% extends 'base.html.twig' %}

{% block title %} Modification Mot de passe {% endblock %}


{% block body %}
<div class="container">
    <h3 class="mb-3 pt-3">Update your password </h3>
    <div class="container">
{{ form_start(form) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }} {# Champ supplémentaire pour la confirmation du mot de passe #}

<button type="submit" class="btn btn-info">Update your password</button>
{{ form_end(form) }}
    </div>

</div>

{% endblock %}
