{% extends 'base.html.twig' %}

{% block title %} ici ma Page Spécialités {% endblock %}


{% block body %}

    <div class="text-center mb-4">
        <h3 class="display-5">Nos  <span class="text-info">Spécialités</span></h3>
    </div>
    <!--Section Cards specialites-->
    <div class="container">
        <div class="row  m-3">
            {% for speciality in specialities %}
            <div class="col-sm text-center">
                <div class="card  border-2 border-info" >
                    <img class="card-img-top w-100" src="{{asset(speciality.specialityImage) }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><span class="text-info">{{ speciality.specialityName }}</span></h5>
                        <p>orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="{{ path('app_default_showspeciality',{ 'id': speciality.id })}}" class="btn btn-info">Encore + </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
