{% extends 'base.html.twig' %}

{% block title %} ici ma Page Mentions légales {% endblock %}

{% block body %}

   <h3> Umla </h3>



    <p>Numéro d’inscription au registre du commerce et des sociétés (RCS) :

    Nom du directeur de la publication: Thibaut GRESSIER - AudioWizard

        Editeur du site internet : Mathieu Chammah - AudioWizard</p>



    <h4> UTILISATION DES DONNÉES DU SITE</h4>

    Les utilisateurs du présent site sont tenus de respecter les dispositions de la loi relative à l’Informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s’abstenir, s’agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes. La structure générale, ainsi que les logiciels, textes, images animées ou non, son savoir-faire, et tous autres éléments composants le site sont la propriété exclusive du site. Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse du site  https://api-medicaments.fr est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Toute reproduction totale ou partielle de ces marques ou de ces logos, effectuée à partir des éléments du site sans l’autorisation expresse du site https://api-medicaments.fr est donc prohibée, au sens de l’article L.713-2 du Code de la propriété intellectuelle.

    LIMITATION DE RESPONSABILITÉ

    Le site https://api-medicaments.fr ne saurait être tenu pour responsable des erreurs rencontrées sur le site, problèmes techniques, interprétation des informations publiée et conséquences de leur utilisation. En conséquence, l’utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.

    DROIT APPLICABLE

    Le présent site est soumis au droit français.

    INFORMATIONS LEGALES






{% endblock %}