{% extends 'base.html.twig' %}
{% block title %} ici ma Page posologie {% endblock %}


{% block body %}
    <h3 class="display-5">Ici ma page <span class="text-info">Posologie médicaments</span></h3>











{%  endblock %}




