{% extends 'base.html.twig' %}
{% block title %} ici ma Page posologie {% endblock %}


{% block body %}
    <div class="text-center mb-4 m-3">
        <h3 class="display-5"><span class="text-info">Posologie médicaments</span></h3>
    </div>











{%  endblock %}




