{% extends "base.html.twig" %}

{% block title %}Réserver une consultation en ligne{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mr-auto">
                <h3 class="display-5 mb-4">Consultation en ligne avec <span class="text-info mr-3">Doct. {{ doctor.user.firstName }} {{ doctor.user.lastName }}</span></h3>
                {{ include('appointment/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock body %}
