<p>Bonjour {{ firstName }}</p>

<p>Nous avons le plaisir de vous confirmer votre rendez-vous avec le
    Dr. {{doctor }}.</p>

<p>Votre consultation aura pour objet : {{ content }}</p>

<h1>{{ scheduledDate }}</h1>

<p><u>Nous vous invitons à le noter précieusement.</u></p>

<p>Cordialement, <br>L'Equipe de Umla</p>