{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" >
        <h3 class="ml-5">Mon profile</h3>
            <!-- Informations personnelles -->
            <div class="row">
                <div class="col-md-6">
                    <!-- Nom, prénom, etc. -->
                </div>
                <div class="col-md-6">
                    <!-- Photo de profil -->
                </div>
            </div>

            <!-- Historique des rendez-vous -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Historique des rendez-vous -->
                </div>
            </div>

            <!-- Prochain rendez-vous -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Prochain rendez-vous -->
                </div>
            </div>

            <!-- Médecins favoris -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Médecins favoris -->
                </div>
            </div>

            <!-- Notes médicales -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Notes médicales -->
                </div>
            </div>

            <!-- Préférences de notification -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Préférences de notification -->
                </div>
            </div>

            <!-- Modifier le profil -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Modifier le profil -->
                </div>
            </div>

            <!-- Déconnexion -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Déconnexion -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

