{% extends "base.html.twig" %}
{% block title %}ici ma Page d'Inscription {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mr-auto">
                <h3 class="display-5 mb-4">Create your <span class="text-info mr-3">account</span></h3>



                {# affichage formulaire#}
                {{ form(form) }}

                {# Afficher le champ "RPPSNumber" et champs "CvUser" uniquement si l'utilisateur est un docteur #}
                {% if is_granted('ROLE_DOCTOR' )%}
                    {{ form_row(form.RPPSNumber) }}
                    {{ form_row(form.CvUser) }}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock body %}
