{% extends "base.html.twig" %}
{% block title %}ici ma Page d'Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mr-auto">
                <h3 class="display-5 mb-4"><span class="text-info mr-3">Créez votre compte</span></h3>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock body %}
